
@import '/src/index.scss';

th {
  font-family: "Poppins" !important;
}
td {
  font-family: "Poppins" !important;
}
p {
  font-family: "Poppins" !important;
  color: $gray-6 !important;
  line-height: 1.6 !important;
  font-size: 10.5pt !important;
  font-weight: 400 !important;
}
select {
  font-family: "Poppins" !important;
  color: $gray-6 !important;
  line-height: 1.6 !important;
  font-size: 10.5pt !important;
  font-weight: 400 !important;
}